<nav class="navbar navbar-expand-lg navbar-light shadow p-1">
    <a class="navbar-brand" href="#"><img src="../../../assets/img/chinchin.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="" routerLinkActive="active-link"
                    *ngIf="!userService['user']['role']"
                    [routerLinkActiveOptions]="{exact:true}">Inicio<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/products" routerLinkActive="active-link">Productos<span
                        class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin" routerLinkActive="active-link"
                    *ngIf="admins.includes(userService['user']['role'])">Admin<span class="sr-only"></span></a>
            </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
        </form> -->
        <div class="LoggedIn row" *ngIf="userService['user']['id']">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="" routerLinkActive="active-link">Hola
                        {{userService['user']['username']}}
                        <span class="sr-only"></span></a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="" routerLinkActive="active-link" (click)=logOut()>Cerrar sesión
                        <span class="sr-only"></span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>