<main class="mainAdmin">
    <app-admin></app-admin>

    <div class="container-fluid">
        <h3></h3>
        <div>
            <div class="row">
                <h2>Productos</h2>
                <h6 class="message" *ngIf="message">{{message}}</h6>
                <button type="button" class="btn" (click)="openModal(0)">+ Nuevo producto</button>
            </div>
            <div class="row">
                <form class="form-inline my-2 my-lg-0" (submit)="searchProducts()">
                    <input class="form-control mr-sm-2" type="search" name="search" placeholder="Filtre por nombre"
                        [(ngModel)]="search" (keyup)="searchProducts()" (input)="searchProducts()">
                </form>
                <select class="form-control mr-sm-2" (change)="getProductsByCategory()" [(ngModel)]="category">
                    <option [value]="0">Todos</option>
                    <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                </select>
            </div>
        </div>
        <h3></h3>
        <h3></h3>
        <div class="container shadow p-3 mb-5 rounded">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th class="align-middle text-center" (click)="sortById()">#</th>
                        <th class="align-middle text-center" (click)="sortByName()">Nombre</th>
                        <th class="align-middle text-center" (click)="sortByPrice()">Precio</th>
                        <th class="align-middle text-center" (click)="sortByCategory()">Categoría</th>
                        <th class="align-middle text-center" (click)="sortByImage()">Imagen</th>
                        <th class="align-middle text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td class="align-middle text-center">{{product.id}}</td>
                        <td class="align-middle text-center">{{product.name}}</td>
                        <td class="align-middle text-center">€{{product.price}}</td>
                        <td class="align-middle text-center">{{product.Category.name}}</td>
                        <td class="align-middle text-center">
                            <img src={{product.image}} class="productImage" alt="..." *ngIf="product.image">
                        </td>
                        <td class="align-middle text-center" scope="col">
                            <img src='../../../assets/img/lapiz.png' class="icon-sm" (click)="openModal(product)">
                            <img src='../../../assets/img/eliminar.png' class="icon-sm"
                                (click)="deleteProduct(product.id)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>