<div id="formProduct">
    <div class="formProduct">
        <h3>Producto</h3>
        <input type="text" id="nameProduct" placeholder="Nombre del producto" required>
        <input type="text" id="priceProduct" placeholder="Precio del producto" required>
        <input type="text" id="imageProduct" placeholder="URL imagen del producto">
        <select id="categoryProduct"></select>
        <div class="divButtons">
            <button id="insertProduct" onclick="insertProduct()">Agregar</button>
            <button id="modifyProduct" onclick="modifyProduct()">Modificar</button>
            <button id="deleteProduct" onclick="deleteProduct()">Eliminar</button>
        </div>
    </div>
    <div class="productToCRUD" ondragover="preventDefault(event)" ondrop="drop(event)">
        <h4>Arrastre hasta aquí el producto que quiera modificar o eliminar</h4>
    </div>
</div>