@import '../../colors.scss';

  .sidebar {
    background-color: $colorGrey;
    max-width: 190px;
    border-right: 1px solid rgb(189, 189, 189);
  }

  .sidebar-sticky {
    padding-top: 10px;
    height: 100vh;
  }

  .icon {
    width: 30px;
    margin: 0 10px;
  }

  .nav-link {
    color: $colorOrange;
    font-size: 18px;
    padding: 5px 0;
  }

  .nav-item {
    border-bottom: 1px solid rgb(189, 189, 189);
    font-weight: 500;
    margin-top: 15px;
  }
