<nav class="col-md-2 d-md-block sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="admin/products">
                    <img src="../../../assets/img/productos.png" class="icon">Productos</a></li>
            <li class="nav-item"><a class="nav-link" href="admin/categories">
                    <img src="../../../assets/img/categorias.png" class="icon">Categorías</a></li>
            <li class="nav-item"><a class="nav-link" href="admin/orders">
                    <img src="../../../assets/img/pedidos.png" class="icon">Pedidos</a></li>
            <li class="nav-item"><a class="nav-link" href="admin/users">
                    <img src="../../../assets/img/usuarios.png" class="icon">Usuarios</a></li>
        </ul>
    </div>
</nav>