@import '../../../styles.scss';

.container-fluid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  h2 {
    margin: 15px 0;
    text-align: center;
  }

  .orders {
    display: flex;
    align-items: center;
    flex-direction: column;

    .card {
      width: 33rem;
      margin: 10px;

      .card-header {
        display: flex;
        justify-content: space-between;
        background: $colorGrey;
      }

      .card-subtitle {
        margin-top: 5px;
      }

      .card-text {
        margin-left: 20px;
        margin-bottom: 5px;
        display: grid;
        grid-template-columns: 60px 170px 80px 100px 120px;
      }

      div {
        align-items: center;
      }
    }

    .productImage {
      height: 55px;
      width: 50px;
    }

    p {
      padding: 5px 10px;
    }

    h6 {
      padding-left: 10px;
    }

  }

  h3 {
    cursor: pointer;
  }
}
