@import '../../../styles.scss';

#formCategory {
    display: flex;
    justify-content: center;
}

.formCategory {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 10px;
    width: 280px;
    height: 312px;
    margin: 20px 10px 5px 10px;
}

.formCategory h3 {
    margin-left: 5px;
}

.formCategory h6 {
    margin-left: 5px;
    margin-top: 20px;
}

#categoryProductformCategory {
    width: fit-content;
    margin: 0 0 25px 5px;
}

#nameCategory {
    margin: 60px 5px 10px 5px;
    padding-left: 5px;
}

#insertCategory,
#modifyCategory,
#deleteCategory {
    width: 80px;
    padding: 0;
}