<div id="formCategory">
    <div class="formCategory">
        <h3>Categoria</h3>
        <h6>Seleccione la categoria</h6>
        <select id="categoryProductformCategory" onChange="changeFormCategory()"></select>
        <input type="text" id="nameCategory" placeholder="Nombre de la categoria">
        <div class="divButtons">
            <button id="insertCategory" onclick="insertCategory()">Agregar</button>
            <button id="modifyCategory" onclick="modifyCategory()">Modificar</button>
            <button id="deleteCategory" onclick="deleteCategory()">Eliminar</button>
        </div>
    </div>
</div>