@import '../../../styles.scss';

main {
  display: grid;
  grid-template-columns: 125px 1fr;

  .categories {
    width: 90px;
  }

  .categories:hover {
    cursor: pointer;
  }

  .sidebar {
    background-color: $colorGrey;
    max-width: 170px;
    border-right: 1px solid rgb(189, 189, 189);
  }

  .sidebar-sticky {
    padding: 20px;
    height: 100vh;
  }

  .nav-item {
    border-bottom: 1px solid rgb(189, 189, 189);
    font-weight: 500;
    margin: 8px 0;
    padding: 5px 0;
  }

  .divProducts {
    display: grid;
    grid-template-columns: repeat(auto-fill, 160px);
    margin: 0.9em 15px;
    grid-gap: 10px;
    justify-content: center;
  }

  .card {
    width: 10rem;
    height: 15rem;
  }

  .card:hover {
    cursor: pointer;
  }

  .card-body {
    height: 7px;
    display: inline-flex;
    align-items: flex-start;
    padding: 0 0 0 5px;
    overflow: hidden;
  }

  .card-img-top {
    height: 175px;
  }
}