<main>
    <!-- <ul class="list-group list-group-flush categories">
        <li class="list-group-item" id=0 (click)="getAllProducts()">Todos</li> 
        <li class="list-group-item" id={{category.id}} (click)="getProductsByCategory(category)" *ngFor="let category of categories">
            {{category.name}}</li>
    
    </ul>
    <div class="divProducts">
        <div class="card" id={{product.id}} *ngFor="let product of products">
            <img src={{product.image}} class="card-img-top" alt="..." *ngIf="product.image">
            <img src="../../../assets/img/{{product.Category.name.toLowerCase()}}.png" class="card-img-top" alt="..."
                *ngIf="!product.image">
            <div class="card-body">€{{product.price}}</div>
            <div class="card-body">
                <p class="card-text">{{product.name}}</p>
            </div>
        </div>
    </div> -->
</main>