<main>
    <nav class="col-md-2 d-md-block sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column categories">
                <li class="nav-item" id=0 (click)="getAll()">Todos</li>
                <li class="nav-item" id={{category.id}} (click)="getProductsByCategory(category.id)"
                    *ngFor="let category of categories">{{category.name}}</li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="title">
            <form class="form-inline my-2 my-lg-0" (submit)="searchProducts()">
                <input class="form-control mr-sm-2" type="search" name="search" placeholder="Nombre del producto"
                    [(ngModel)]="search" (keyup)="searchProducts()" (input)="searchProducts()">
            </form>
        </div>

        <div class="divProducts">
            <div class="card" id={{product.id}} *ngFor="let product of products">
                <img src={{product.image}} class="card-img-top" alt="..." *ngIf="product.image">
                <img src="../../../assets/img/{{product.Category.name.toLowerCase()}}.png" class="card-img-top"
                    alt="..." *ngIf="!product.image">
                <div class="card-body">€{{product.price}}</div>
                <div class="card-body">
                    <p class="card-text">{{product.name}}</p>
                </div>
                <div class="card-body"><button mat-button (click)="addCart(product)">Añadir al carrito</button></div>
            </div>
        </div>
    </div>
</main>